<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CSV UPLOAD</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body style="margin: 0; padding: 0; font-family: 'Poppins', sans-serif; background: #f2f2f2;">
  <div class="wrapper" style="max-width: 500px; padding: 30px; background: #fff; margin: 50px auto; border-radius: 10px; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);">
    <header style="font-size: 22px; font-weight: 600; text-align: center; margin-bottom: 30px;">Upload Your CSV File</header>
    <form action="/csvupload" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <input class="file-input" type="file" name="file" hidden>
      
      <div class="button" style="text-align: center;" onclick="document.querySelector('.file-input').click();">
        <i class="fas fa-cloud-upload-alt" style="font-size: 30px; color: #333;"></i>
        <p style="font-size: 16px; color: #333; margin-top: 10px;">Browse File to Upload</p>
      </div>

      <div style="margin-top: 20px; text-align: center;">
        <span class="details" style="font-size: 1.4rem; font-weight: 500;">Upload Image</span>
        <br><br>
        <input type="file" name="diagnosegrapes" style="width: calc(100% - 20px); padding: 10px; border: 1px solid #ccc; border-radius: 5px; outline: none;">
      </div>

      <div class="button" style="margin-top: 20px; text-align: center;">
        <input type="submit" value="Diagnose" style="background: #5CB85C; border: none; padding: 10px 20px; border-radius: 5px; color: #fff; cursor: pointer; font-size: 16px;">
      </div>
    </form>
    <section class="progress-area" style="margin-top: 20px;"></section>
    <section class="uploaded-area" style="margin-top: 20px;"></section>
  </div>
  <script>
    document.querySelector('.button').addEventListener('click', function() {
      document.querySelector('.file-input').click();
    });
  </script>
  <script src="../static/csvupload.js"></script>
</body>
</html>
